<div class="container vh-100">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
            <div class="card-body p-5">
                <div class="text-center">
                </div>
                <div class="text-center">
                    <h2>Forgot Password</h2>
                </div>
                <p style="color: lightslategray;">&nbsp;&nbsp;&nbsp;Please enter your registered<br>Phone Number and Security Pin</p>
                <form action="" method="">
                    <div class="form-group">
                        <input type="number" matInput placeholder="Phone Number" class="form-control" name="" />
                    </div>
                    <div class="form-group">
                        <input type="number" matInput placeholder="Security Pin" class="form-control" name="" />
                    </div>
                    <input type="submit" class="btn btn-primary w-100" value="Reset Password" name="">
                </form>
            </div>
            <div class="card-footer text-right">
                <small style="font-weight: bold;"><a routerLink="../login">Back to Login</a></small>
            </div>
        </div>
    </div>
</div>
