.form-control{
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: 100px;
}

.table{
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: 100px;
}