<div class="container pt-5 mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>404 Not Found</h2>
                <div class="error-details">Sorry, an error has occured, Requested page not found!</div>
                <h1></h1>
                <div>
                    <a routerLink="/"><input type="submit" class="btn btn-primary" value="Home" name=""></a>
                </div>
            </div>
        </div>
    </div>
</div>